<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <h1>Hola desde EJS</h1>
        <p>Las rutas disponibles para navegar son <strong>/person</strong> y <strong>/personas</strong></p>     
        <p>Para ir a /person necesitas agregar un número como parámetro</p>   
    </body>
</html>