<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Estudiante</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>

    <h1 class="title">Formulario Estudiante</h1>

    <form action="/addStudent" method="POST" class="form">
        <label for="nss">NSS:</label>
        <input type="text" id="nss" name="nss">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <label for="edad">Edad:</label>
        <input type="text" id="edad" name="edad">
        <label for="tipoSangre">TipoSangre:</label>
        <input type="text" id="tipoSangre" name="tipoSangre">
    
        <input type="submit" value="Submit" class="button">
    </form>

    <a href="/person" class="button">Regresar</a>
</body>
</html>