<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <h1>Práctica #20 : Agregar nuevo documento a la colección de Mongo DB</h1>
    <p>Estas son las rutas disponibles:</p>
    <ul>
      <li><a href="/gente">Personas</a></li>
      <li><a href="/addPerson">Agregar personas</a></li>
    </ul>
  </body>   
</html>
