<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Estudiante</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body> 
    <h1 class="title">Información del Estudiante</h1>

    <div class="card-info">
        <p>Nombre: <%= nombre %></p>
        <p>Edad: <%= edad %></p>
        <p>NSS: <%= nss %></p>
        <p>Tipo de Sangre <%= tipoSangre %></p>    
    <div>

    <a href="/student" class="button">Regresar</a>

</body>
</html>